# K-Nearest Neighbors

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("C:/Users/rushi/OneDrive/Desktop/Daily Machine Learning Algorithm Prectice/creditcard.csv/creditcard.csv")

In [3]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
dataset.shape

(284807, 31)

In [5]:
dataset.isnull().any().sum()

0

In [6]:
All = dataset.shape[0]
fraud = dataset[dataset['Class'] == 1]
nonFraud = dataset[dataset['Class'] == 0]

x = len(fraud)/All
y = len(nonFraud)/All

print('frauds :',x*100,'%')
print('non frauds :',y*100,'%')
print(len(fraud))

frauds : 0.1727485630620034 %
non frauds : 99.82725143693798 %
492

In [7]:
from sklearn.preprocessing import StandardScaler
dataset['Vamount'] = StandardScaler().fit_transform(dataset['Amount'].values.reshape(-1,1))
dataset['Vtime'] = StandardScaler().fit_transform(dataset['Time'].values.reshape(-1,1))

dataset = dataset.drop(['Time','Amount'], axis = 1)
dataset.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V22,V23,V24,V25,V26,V27,V28,Class,Vamount,Vtime
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0,0.244964,-1.996583
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0,-0.342475,-1.996583
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0,1.160686,-1.996562
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0,0.140534,-1.996562
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0,-0.073403,-1.996541

In [8]:
X = dataset.drop(['Class'], axis = 1)
y = dataset['Class']

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20)

In [10]:
from sklearn.preprocessing import normalize
X_train = normalize(X_train)
X_test=normalize(X_test)

# Training

In [11]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=3,algorithm="kd_tree",n_jobs=-1)
model.fit(X_train,y_train.ravel())

KNeighborsClassifier(algorithm='kd_tree', n_jobs=-1, n_neighbors=3)

In [12]:
y_pred = model.predict(X_test)

In [13]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

print("Confusion Matrix: ")
print(cm)

print('\nTrue Positive(TP) = ',cm[0,0])
print('\nTrue Negative(TN) = ',cm[1,1])
print('\nFalse Positive(FP) = ',cm[0,1])
print('\nFalse Negative(FN) = ',cm[1,0])

Confusion Matrix:
[[56850     5]
 [   18    89]]

True Positive(TP) =  56850

True Negative(TN) =  89

False Positive(FP) =  5

False Negative(FN) =  18

In [14]:
from sklearn.metrics import accuracy_score
print('Model Accuracy: {0:0.2f}%'.format(accuracy_score(y_test,y_pred)*100))

Model Accuracy: 99.96%